.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.labelSelect {
   padding: 0px 10px;
}

.select {
   width: 100%;
   height: 30px;
   border: 1px solid #ccc;
   border-radius: 15px;
   padding: 0px 10px;
   appearance: none;
}

.option {
   padding: 10px;
}

.select:focus {
   border: 2px dashed #333;
}
