.selectMenu {
   width: 100%;
   height: auto;
   margin-top: 10px;
}

.groupTitle {
   width: 100%;
   height: 40px;
   padding: 10px 20px 10px 10px;
   display: flex;
   align-items: center;
   background-color: #dfdfdf;
   font-size: 1.4rem;
   border-radius: 20px;
   cursor: pointer;
   color: #007070;
}

.menuTitle {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menuIcon {
   font-size: 1rem;
   margin-right: 5px;
}

.listMenu {
   width: 100%;
   height: auto;
   margin-top: 10px;
   padding: 10px 15px;
   border-radius: 20px;
   background-color: #d2d2d2;
   position: relative;
   transform-origin: top center;
   cursor: pointer;
   transition: all 0.7s ease-in;
}

.menuOption {
   width: 100%;
   height: auto;
   border-bottom: 1px solid #b6b6b6;
   margin-top: 5px;
}

.menuLink {
   color: #008f99;
   text-decoration: none;
}

.menuOption:last-child {
   border-bottom: none;
}

h3 i {
   transition: transform 0.3s ease;
}
