.wrapper {
   padding: 20px;
}

.btnPrint {
   width: 80px;
   height: 30px;
   border: none;
   border-radius: 10px;
   background-color: #ccc;
}

@media print {
   .btnPrint {
      display: none;
   }

   .printArea {
      display: block;
   }
}
