.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.header {
   width: 100%;
   height: 30px;
   text-align: center;
   border-bottom: 1px solid #ccc;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.productImages {
   margin-top: 10px;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ccc;
}

.mainProductImage {
   width: 240px;
   height: 240px;
   margin-right: 10px;
}
.detailProductImages {
   width: 1500px;
   height: 200px;
   display: flex;
   justify-content: space-evenly;
   flex: 1;
}

.groupImageDetail {
   width: calc(100% / 4 - 30px);
}

.content {
   width: 100%;
   display: flex;
}

.footer {
   width: 600px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
