.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.groupSwitchForm {
   width: 630px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 0px;
}

.btnSwitchForm {
   width: 140px;
   height: 100%;
   border: none;
   border-radius: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fafafa;
}

.activeMenu {
   background-color: #e7e7e7;
}
.btnIcon {
   font-size: 2rem;
}

.titleForm {
   width: 80%;
   height: 40px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: var(--primary-background-color);
   padding: 0px 20px;
   margin-bottom: 20px;
}

.wrapperItem {
   min-width: 160px;
   height: 40px;
   text-align: center;
   align-content: center;
}

.wrapperItemMain {
   text-align: left;
   flex: 1;
}

.orderWrapper {
   width: 80%;
   background-color: #fdfdfd;
   box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
   border-radius: 20px;
   padding: 0px 20px;
   margin-bottom: 20px;
}

.customerInfo {
   width: 100%;
   height: 50px;
   background-color: var(--primary-background-color);
   margin-top: 10px;
   padding: 10px 20px;
   border-radius: 20px;
   display: flex;
   align-items: center;
}

.customerId {
   width: 250px;
}

.name {
   width: 250px;
}

.address {
   flex: 1;
}

.wrapBtnConfirm {
   width: 100px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.orderItem {
   width: 100%;
   height: 100px;
   display: flex;
   padding: 10px 0px;
   align-items: center;
   border-bottom: 1px solid #ccc;
}

.orderItem:last-child {
   border-bottom: none;
}

.groupProduct {
   display: flex;
   align-items: center;
}

.productImage {
   width: 80px;
   height: 80px;
}

.productName {
   margin-left: 20px;
   flex: 2;
}

.groupProduct strong {
   display: -webkit-box; /* Sử dụng box model của Webkit */
   -webkit-line-clamp: 3; /* Giới hạn số dòng là 3 */
   -webkit-box-orient: vertical; /* Thiết lập hướng của box là dọc */
   overflow: hidden; /* Ẩn nội dung bị tràn */
   text-overflow: ellipsis; /* Thêm 3 chấm khi nội dung bị cắt */
}

.productType {
   flex: 1;
}

.footer {
   width: 100%;
   height: 40px;
   background-color: #ccc;
   margin: 10px 0px;
   padding: 10px 20px;
   border-radius: 8px;
}

.footer strong {
   color: red;
}

.footer strong:first-child {
   margin-right: 20px;
}
