.wrapper {
   width: 1200px;
   display: flex;
   color: var(--primary-text-color);
}

.contentLeft {
   width: 700px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.wrapperSlider {
   width: 100%;
   height: 350px;
}

.wrapperConfig {
   width: 100%;
   height: 400px;
   margin-top: 20px;
   border-top: 1px solid #ccc;
   font-size: 1.4rem;
   overflow: scroll;
}

.title {
   width: 100%;
   height: 40px;
   font-size: 2rem;
   text-align: center;
   align-content: center;
}

.productInfoTitle {
   text-align: center;
   align-content: center;
   font-size: 2rem;
}

.groupConfig {
   width: 100%;
   cursor: pointer;
   margin-top: 10px;
}

.titleConfig {
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 15px;
   background-color: #e7e7e7;
   border-radius: 20px;
}

.listConfig {
   display: none;
}

.configItem {
   width: 100%;
   min-height: 30px;
   border-bottom: 1px solid #ccc;
   display: flex;
   align-items: center;
   padding-left: 15px;
}

.configItem:last-child {
   border-bottom: none;
}

.configItem aside {
   width: 40%;
}

.titleConfig i {
   transition: transform 0.3s ease;
}

.contentRight {
   flex: 1;
   font-size: 1.4rem;
   margin-left: 20px;
   padding: 10px;
   background-color: var(--primary-background-color);
   border-radius: 20px;
}

.rightHeader {
   width: 100%;
}

.rightBody {
   width: 100%;
}

.groupProductColor {
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
}

.productColor {
   height: 100%;
   background-color: #ffffff;
   display: flex;
   padding: 10px 15px 10px 10px;
   border-radius: 20px;
   align-items: center;
   margin-right: 10px;
}

.color {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin-right: 10px;
}

.productName {
   width: 100%;
   margin-top: 10px;
   align-content: center;
   font-size: 2rem;
}

.productPrice {
   font-size: 2rem;
   margin-top: 5px;
   display: flex;
   color: #b30000;
}

.oldPrice {
   color: #4e4e4e;
   text-decoration: line-through;
   text-decoration-thickness: 1px;
   margin: 0px 8px;
}

.newPrice {
   margin-left: 8px;
}

.salePanel {
   width: 100%;
   height: auto;
   background-color: #fff;
   padding: 10px;
   margin-top: 10px;
}
.saleTitle {
   width: 100%;
   height: 40px;
   text-align: center;
   align-content: center;
   color: #df1111;
   border-bottom: 1px solid #ccc;
}

.saleTitle p {
   color: #8b8b8b;
   font-size: 1.2rem;
}

.listSale {
}

.listSaleItem {
   width: 80%;
   height: 60px;
   margin-top: 10px;
   margin-left: 60px;
   padding: 5px 0px;
   background-color: var(--primary-background-color);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.listSaleItem::before {
   content: '';
   border: 30px solid #ccc;
   border-color: var(--primary-background-color) var(--primary-background-color) var(--primary-background-color)
      transparent;
   position: absolute;
   top: 0px;
   left: -60px;
   z-index: 99;
}

.listSaleItem::after {
   content: '';
   border: 30px solid #ccc;
   border-color: transparent transparent transparent var(--primary-background-color);
   position: absolute;
   top: 0px;
   right: -60px;
   z-index: 99;
}

.rightFooter {
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
}

.btn {
   width: 200px;
   height: 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 20px;
}

.btnBuyNow {
   background-color: #fff;
}

.btnAddToCart {
   background-color: #0a7075;
   color: #ffffff;
}

.productColorActive {
   background-color: #5decb5;
}
