tbody {
   border-collapse: collapse;
}

tbody tr {
   height: 60px;
}

tr td {
   text-align: center;
   border-bottom: 1px solid #acacac;
}

td h3 {
   min-width: 100px;
}

.img {
   width: 100px;
   height: 100px;
   margin: 10px 0px;
}

td button {
   margin: 0px 5px;
}
@keyframes zoomIn {
   from {
      transform: scale(0%);
   }
   to {
      transform: scale(10%);
   }
}
