.sidebar {
   width: 100px;
   height: calc(100% - 75px);
   padding: 0px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 1;
   font-size: 1.2rem;
}

.menuList {
   width: 100px;
   height: auto;
   display: flex;
   flex-direction: column;
}

.active {
   background-image: linear-gradient(60deg, #f4e7f8, #e3aadd);
}

.menuItem {
   width: 80px;
   height: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 4px;
   border-radius: 20px;
   color: var(--primary-text-color);
}

.menuLink {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: rgb(59, 59, 59);
}

.menuIcon {
   font-size: 2.2rem;
}

.menuItem:hover {
   background-color: #f6f6f6;
}
