.groupInput {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.labelInput {
   width: 100%;
   padding-left: 10px;
}

.inputValue {
   width: 100%;
   height: 30px;
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 15px;
}

.inputValue:focus {
   border: 2px dashed #333;
}

.labelMessage {
   width: 100%;
   color: red;
}
