.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #f89b28;
   font-size: 1.8rem;
}

.cartInfo {
   width: 100%;
   min-height: 320px;
}
.wrapperGroup {
   width: 100%;
   padding: 10px;
   display: flex;
   align-items: center;
}

.wrapperItem {
   min-width: 180px;
   height: 40px;
   text-align: center;
   align-content: center;
}

.wrapperItemMain {
   text-align: left;
   flex: 1;
}

.groupCheckbox {
   margin: 0px 40px 0px 20px;
}

.cartHeader {
   height: 80px;
   background-color: #fff2c9;
   margin-bottom: 10px;
   border-radius: 20px 20px 0px 0px;
}

.headerProductName {
   flex: 1;
}

.cartContainer {
   flex-direction: column;
}

.cartItem {
   height: 100px;
   width: 100%;
   display: flex;
   padding: 10px 0px;
   align-items: center;
   border-bottom: 1px solid #ccc;
}

.cartItem:last-child {
   border: none;
}

.groupProduct {
   display: flex;
   align-items: center;
}

.productImage {
   width: 80px;
   height: 80px;
}

.productName {
   margin-left: 20px;
   flex: 2;
}

.productLink {
   color: #f89b28;
}

.productType {
   flex: 1;
}

.productPrice {
   color: #dd1313;
}

.cartFooter {
   width: 100%;
   height: 100px;
   margin-top: 10px;
   background-color: #fff2c9;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   border-radius: 0px 0px 20px 20px;
}

.action {
   margin-right: 50px;
}

.cartHeaderDelivery {
   width: 80%;
}

.cartItemDelivery {
   padding: 0px;
}

.totalProduct {
   margin-right: 20px;
}

.totalPrice {
   margin-right: 20px;
}

.totalProduct strong {
   margin-left: 10px;
   color: #dd1313;
}

.totalPrice strong {
   margin-left: 10px;
   color: #dd1313;
}

.groupBlankPage {
   height: 350px;
}
