.columnLeft {
   min-width: 300px;
   padding: 10px;
   margin-right: 10px;
   border-right: 1px solid #ccc;
   display: flex;
   flex-direction: column;
}

.columnRight {
   width: 1440px;
   flex: 1;
   padding: 10px;
}

.columnHeader {
   width: 100%;
   height: 40px;
   padding: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid #ccc;
}

.columnBody {
   width: 100%;
   display: flex;
}

.groupColumn {
   flex: 1;
   display: flex;
   flex-direction: column;
   border-right: 1px solid #ccc;
   padding: 10px;
}

.groupColumn:last-child {
   border-right: none;
}

.title {
   width: 100%;
   height: 100%;
   text-align: center;
   align-content: center;
}

.labelAddConfig {
   margin-left: 10px;
}

.input {
   display: flex;
   margin-top: 10px;
}

.groupCheckBox {
   width: 100%;
}

.groupChooseColor {
   display: flex;
   align-items: center;
   font-size: 1.4rem;
}

.colorPicker {
   width: 20px;
   height: 20px;
   border: none;
   border-radius: 20px;
}

.btnChooseColor {
   width: 45px;
   height: 20px;
   margin-left: 5px;
   padding: 2px;
   border: none;
   border-radius: 10px;
   background-color: var(--primary-background-color);
}

.groupProductColor {
   width: 100%;
   height: 20px;
   display: flex;
}

.groupColor {
   min-width: 50px;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   align-items: center;
   background-color: #f1f1f1;
   margin-right: 10px;
   font-size: 1.2rem;
}

.groupColor span {
   cursor: pointer;
   font-size: 1.2rem;
   margin-left: 10px;
}

.color {
   width: 15px;
   height: 15px;
   margin-right: 4px;
   border: 1px solid #ccc;
}
.productColorName {
   width: 100px;
   margin: 0px 10px;
   border: 1px solid #ccc;
}
