.wrapper {
   width: 100%;
   height: auto;
   display: flex;
   padding: 10px;
}

.sidebar {
   width: 300px;
   height: calc(100vh - 28px);
   border: 1px solid #e7e7e7;
   border-radius: 20px;
   box-shadow: 1px 1px 2px #b8b8b8;
   background-color: var(--primary-background-color);
   position: relative;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

.sidebarHeader {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.storeLogo {
   display: flex;
   align-items: center;
}

.logo {
   width: 60px;
   height: 60px;
   border-radius: 20px;
   margin-right: 10px;
}

.storeName {
   letter-spacing: 1px;
}

.storeDetail {
   width: 100%;
   padding: 10px;
}

.listInfo {
   color: #0c6478;
}

.infoItem {
   margin-top: 4px;
   display: flex;
}

.infoItem h4 {
   margin-right: 4px;
}

.infoItem p {
   font-size: 1.2rem;
   flex: 1;
   align-content: center;
   overflow: hidden;
}

.action {
   width: 100%;
   height: 30px;
   border-radius: 10px;
   border: none;
   background-image: linear-gradient(90deg, #f4e7f8, #e3aadd);
   color: #cf22be;
   font-size: 1.5rem;
   font-weight: 700;
}

.sidebarContainer {
   width: 100%;
   height: auto;
   overflow: scroll;
}

.container {
   width: calc(100% - 300px);
   height: auto;
   padding: 0px 0px 10px 10px;
}

.header {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2px 10px 2px 20px;
   border: 1px solid #e7e7e7;
   border-radius: 12px;
   box-shadow: 1px 1px 2px #b8b8b8;
}

.search {
   width: 100px;
}

.content {
   width: 100%;
   height: 845px;
   overflow: auto;
   margin-top: 10px;
   padding: 10px;
   border: 1px solid #e7e7e7;
   border-radius: 12px;
   box-shadow: 1px 1px 2px #b8b8b8;
   overflow: scroll;
}

@keyframes zoomIn {
   from {
      transform: scale(0);
   }
   to {
      transform: scale(1);
   }
}
