.modal {
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(153, 153, 153, 0.5);
   backdrop-filter: blur(4px);
}

.content {
   min-width: 100px;
   min-height: 100px;
   background-color: #fff;
   border-radius: 20px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: zoomIn 0.3s ease-in;
}

@keyframes zoomIn {
   0% {
      transform: scale(0.5); /* Bắt đầu với kích thước nhỏ hơn */
      opacity: 0; /* Bắt đầu với độ mờ */
   }
   50% {
      transform: scale(1.1); /* Zoom lớn hơn một chút để tạo cảm giác bật */
      opacity: 0.8; /* Dần hiện ra */
   }
   100% {
      transform: scale(1); /* Trở về kích thước ban đầu */
      opacity: 1; /* Hiển thị hoàn toàn */
   }
}
