.wrapper {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-image: url('../imagePages/not-found.jpg');
   background-repeat: no-repeat;
   background-position: center;
}
